body {
  height: 100vh;
}
.left-navbar{
  max-width: 200px;      
  min-width: 200px;     
}
.todo-list{
  
  width: 100%;
}

.btn-add-project{
  margin: 0;
  padding: 0 12px;
  font-size: 21px;
  border: none;
}